OLD/Libraries/Packages/
OLD/Libraries/Syn.VA.Libraries.Language/obj/
OLD/Libraries/Syn.VA.Libraries.Wikipedia/
OLD/Libraries/Syn.VA.Libraries.Horoscope/
OLD/Libraries/Syn.VA.Libraries.MovieInfo/
OLD/Libraries/Syn.VA.Libraries.WordNet/
OLD/Libraries/Syn.VA.Libraries.Game/
OLD/Libraries/Syn.VA.Libraries.WordNet/
OLD/Libraries/Syn.VA.Libraries.Speech/
OLD/Libraries/Syn.VA.Libraries.Multimedia/
OLD/Libraries/Syn.VA.Libraries.Audio/
OLD/Libraries/Syn.VA.Libraries.Translation/
OLD/Libraries/Syn.VA.Libraries.Weather/

OLD/Plugins/Compiled/*.pdb
OLD/Plugins/Compiled/*.xml
OLD/Plugins/Packages/

OLD/Plugins/Syn.VA.Plugins.Browser/obj/
OLD/Plugins/Syn.VA.Plugins.Channel/obj/
OLD/Plugins/Syn.VA.Plugins.Contact/obj/
OLD/Plugins/Syn.VA.Plugins.Dictionary/obj/
OLD/Plugins/Syn.VA.Plugins.Email/obj/
OLD/Plugins/Syn.VA.Plugins.HelloPlugin/Syn.VA.Plugins.HelloPlugin/obj/
OLD/Plugins/Syn.VA.Plugins.Horoscope/obj/
OLD/Plugins/Syn.VA.Plugins.HtmlPanel/obj/
OLD/Plugins/Syn.VA.Plugins.Interaction/obj/
OLD/Plugins/Syn.VA.Plugins.Launcher/obj/
OLD/Plugins/Syn.VA.Plugins.Loader/obj/
OLD/Plugins/Syn.VA.Plugins.Messaging/obj/
OLD/Plugins/Syn.VA.Plugins.MovieInfo/obj/
OLD/Plugins/Syn.VA.Plugins.Performance/obj/
OLD/Plugins/Syn.VA.Plugins.Service/obj/
OLD/Plugins/Syn.VA.Plugins.World/obj/
OLD/Plugins/Syn.VA.Plugins.Windows/obj/
OLD/Plugins/Syn.VA.Plugins.Wikipedia/obj/
OLD/Plugins/Syn.VA.Plugins.Translator/obj/
OLD/Plugins/Syn.VA.Plugins.TicTacToe/obj/
OLD/Plugins/Syn.VA.Plugins.Skype/obj/
OLD/Plugins/Syn.VA.Plugins.Mock/obj/
OLD/Plugins/Syn.VA.Plugins.Media/obj/
OLD/Plugins/Syn.VA.Plugins.News/obj/
OLD/Plugins/Syn.VA.Plugins.Reminder/obj/
OLD/Plugins/Syn.VA.Plugins.Weather/obj/

OLD/Plugins/Syn.VA.Plugins.Map/
OLD/Plugins/Syn.VA.Plugins.Wolfram/
OLD/Plugins/Syn.VA.Plugins.Speech/

bin/
.vs/
Plugins/Syn.VA.Plugins.HelloPlugin/packages/
