Libraries/Packages/

Libraries/Syn.VA.Libraries.Language/obj/

Libraries/Syn.VA.Libraries.Wikipedia/
Libraries/Syn.VA.Libraries.Horoscope/
Libraries/Syn.VA.Libraries.MovieInfo/
Libraries/Syn.VA.Libraries.WordNet/
Libraries/Syn.VA.Libraries.Game/
Libraries/Syn.VA.Libraries.WordNet/
Libraries/Syn.VA.Libraries.Speech/
Libraries/Syn.VA.Libraries.Multimedia/
Libraries/Syn.VA.Libraries.Audio/
Libraries/Syn.VA.Libraries.Translation/
Libraries/Syn.VA.Libraries.Weather/

Plugins/Compiled/*.pdb
Plugins/Compiled/*.xml
Plugins/Packages/

Plugins/Syn.VA.Plugins.Browser/obj/
Plugins/Syn.VA.Plugins.Channel/obj/
Plugins/Syn.VA.Plugins.Contact/obj/
Plugins/Syn.VA.Plugins.Dictionary/obj/
Plugins/Syn.VA.Plugins.Email/obj/
Plugins/Syn.VA.Plugins.HelloPlugin/Syn.VA.Plugins.HelloPlugin/obj/
Plugins/Syn.VA.Plugins.Horoscope/obj/
Plugins/Syn.VA.Plugins.HtmlPanel/obj/
Plugins/Syn.VA.Plugins.Interaction/obj/
Plugins/Syn.VA.Plugins.Launcher/obj/
Plugins/Syn.VA.Plugins.Loader/obj/
Plugins/Syn.VA.Plugins.Messaging/obj/
Plugins/Syn.VA.Plugins.MovieInfo/obj/
Plugins/Syn.VA.Plugins.Performance/obj/
Plugins/Syn.VA.Plugins.Service/obj/
Plugins/Syn.VA.Plugins.World/obj/
Plugins/Syn.VA.Plugins.Windows/obj/
Plugins/Syn.VA.Plugins.Wikipedia/obj/
Plugins/Syn.VA.Plugins.Translator/obj/
Plugins/Syn.VA.Plugins.TicTacToe/obj/
Plugins/Syn.VA.Plugins.Skype/obj/
Plugins/Syn.VA.Plugins.Mock/obj/
Plugins/Syn.VA.Plugins.Media/obj/
Plugins/Syn.VA.Plugins.News/obj/
Plugins/Syn.VA.Plugins.Reminder/obj/
Plugins/Syn.VA.Plugins.Weather/obj/

Plugins/Syn.VA.Plugins.Map/
Plugins/Syn.VA.Plugins.Wolfram/
Plugins/Syn.VA.Plugins.Speech/

