Syn.VA.Libraries.Audio/obj/
Syn.VA.Libraries.Translation/obj/
Syn.VA.Libraries.Weather/obj/
Syn.VA.Libraries.Wikipedia/obj/
Syn.VA.Libraries.Horoscope/obj/
Syn.VA.Libraries.MovieInfo/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Syn.VA.Libraries.MovieInfo/obj/
Syn.VA.Libraries.WordNet/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Syn.VA.Libraries.WordNet/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Syn.VA.Libraries.Game/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Syn.VA.Libraries.Game/obj/Release/Syn.VA.Libraries.Game.csproj.FileListAbsolute.txt
Syn.VA.Libraries.Game/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Syn.VA.Libraries.Game/obj/
Syn.VA.Libraries.WordNet/obj/
Syn.VA.Libraries.Language/obj/
Syn.VA.Libraries.Multimedia/obj/
packages/
